.component {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  /* border: 5px solid black; */
  /* border-radius: 35px; */
}
.img {
  border-radius: 10px;
}
.button {
  margin: -5px 5px 10px 5px;
}
.size {
  border-radius: 10px;
  height: 180px;
  width: 250px;

  margin-bottom: 2px;
  /* object-fit: cover; */
}
.input {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.titletext {
  font-size: 20px;
  align-items: center;
}
.ptext {
  font-size: 10px;
}
