.component {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  justify-content: space-evenly;
  border: 5px solid black;
  border-radius: 35px;
}

.size {
  height: 150px;
  width: 200px;
  margin-bottom: 2px;
  /* object-fit: cover; */
}
.input {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.titletext{
    font-size: 20px;
}
.ptext{
    font-size: 10px;
}
